%
    if [[ ${r} ]]
    then
        ROLE=${r}
    else
        Fragment admin/roles-list
    fi
%
 
<table id="table-roles-edit" class="datatables table table-striped display">
    <thead>
        <tr>
            <th>ROLE</th>
            <th>MEMBERS</th>
            <th></th>
        </tr>
    </thead>
    
    %
        for MEMBER in $(RoleUsers ${ROLE})
        do
            echo "<tr>
                    <td>${ROLE}</td>
                    <td>${MEMBER}</td>
                    <td>
                        <a href="$(echo '/api/admin/users/rm?r='"${ROLE}"'&u='"${MEMBER}")">
                            <i class="fas fa-solid fa-trash-can">trash-can</i>
                        </a>
                    </td>
            </tr>
            "
        done
    %
    
</table>


<div class="card-body">                                      
                                                             
                                                             
<form method="POST" action="/api/admin/users/addrole">             
Add user to role <% $ROLE %>: <input type="text" name="user">
<input type="hidden" name="role" value="<% ${ROLE} %>">
<input type="submit" name="submit" value="OK">         
                                                       
                                                       
<!-- tbd: seen users dropdown (from session storage) -->
                              
</div>

