<table id="table-roles-list" class="datatables table table-striped display">
    <thead>
        <tr>
            <th>ROLE</th>
            <th>MEMBERS</th>
            <th></th>
        </tr>
    </thead>
    
    %
        for ROLE in $(RolesAll)
        do
            echo "<tr>
                <td>${ROLE}</td>
                <td>$(RoleUsers ${ROLE})</td>
                <td>
                    <a href="$(echo '/api/admin/roles/rm?role='"${ROLE}"'&u='"${MEMBER}")">
                        DELETE
                    </a>
                </td>
            </tr>
            "
        done
    %
    
</table>

<div class="card-body">                                      
                                                             
                                                             
<form method="POST" action="/api/admin/roles/add">
    Add role: <input type="text" name="role">
    <input type="submit" name="submit" value="OK">
</div>
