.dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: left;
    
  }
  .dataTables_wrapper .dataTables_filter input {
   
    background-color: transparent;
    color: inherit;
    width: 500px;
   
  }

.dataTables_wrapper {
    cursor: pointer;
}
